# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
rwasafe.db

# Environments
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Distribution / packages
dist/
build/
*.egg-info/
